{% trans_default_domain 'FOSUserBundle' %}
<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta name="description" content="UBERMOOV’ , Leader sur le secteur de la livraison à Paris vous propose une alternative innovante aux moyens de livraison et de déménagement. Téléchargez l'application pour être pris en charge en quelques minutes. Vous pouvez également vous inscrire pour devenir livreur et gagner de l'argent selon votre propre emploi du temps.">
        <meta name="keywords" content="livraison,colis,paris,application,service,livreur,innovation,déménagement,rapide,emploi,argent,entreprise,plis,minutes,digitale,android,appstore">
        <meta name="author" content="UBERMOOV'">
        <title>UBERMOOV': S'inscrire</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{{ asset('login/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('login/font-awesome/css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ asset('login/css/form-elements.css') }}">
        <link rel="stylesheet" href="{{ asset('login/css/style.css') }}">
        <a class="navbar-brand js-scroll-trigger" href="/"><img class="logo" alt="logo" src="/logo.jpg" height="60" width="220"></a>
</head>
<body background="../img/backgrounds/1.jpg">
<div class="top-content">

           <div class="inner-bg">
               <div class="container">
                   <div class="row">
                       <div class="col-sm-8 col-sm-offset-2 text">
                           <h1><strong>UBERMOOV'</strong><br>S'INSCRIRE</h1>
                           <div class="description">
                             <p>
                               Gérez vos options de paiement, parcourez l'historique de vos livraisons et bien plus encore.<br>
                               Télécharger notre application <a href="https://itunes.apple.com/fr/app/uber/id368677368?mt=8"><strong>UBERMOOV'</strong></a>, commander une livraison en quelques minutes !
                             </p>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-sm-6 col-sm-offset-3 form-box">
                         <div class="form-top">
                           <div class="form-top-left">
                             <h3>Créer votre compte</h3>
                               <p>Rejoignez les millions d'utilisateurs qui nous ont déjà fait confiance.</p>
                           </div>
                           <div class="form-top-right">
                             <i class="fa fa-lock"></i>
                           </div>
                           </div>
                           <div class="form-bottom">
			                    <form role="form" action="" method="post" class="login-form">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}

</div>
                   </div>
               </div>

                        </div>
                </div>
            </div>

        </div>
        <!-- Javascript -->
      <script src="{{ asset('login/js/jquery-1.11.1.min.js') }}"></script>
      <script src="{{ asset('login/bootstrap/js/bootstrap.min.js') }}"></script>
      <script src="{{ asset('login/js/jquery.backstretch.min.js') }}"></script>
      <script src="{{ asset('login/js/scripts.js') }}"></script>



  </body>

</html>
